<h2 style="color:#111">Welcome to {{appName}}!</h2>
<p>Hi {{name}},</p>

<p>Use the verification code below:</p>
<p>
    <span style="color: blue">{{code}}</span>
</p>
<p style="color:#6b7280;font-size:14px">This code will expire in 15 minutes.</p>
