<p>Hey {{name}},</p>
<p>Orbit Chat Password Reset</p>
<p>Click the link below to reset your password:</p>
<p>
    <a href="{{code}}" style="color: blue; text-decoration: underline;">Reset Password</a>
</p>
<p>Or copy and paste this link in your browser:</p>
<p style="word-break: break-all; color: #666;">{{code}}</p>

<p>This link is only valid for 15 minutes. Do not share this link with anyone.</p>